.mobile-page-nav-list {
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 1px 0 3px rgba(#000, 0.3), 2px 0 3px rgba(#000, 0.1);
    display: none;
}

.mobile-page-nav-list li {
    border-bottom: 1px solid #eee;
}

.mobile-page-nav-list a {
    display: block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #444;
    transition: 0.2s;

    &:hover {
        background: #444;
        color: #fff;
    }
}

@media (max-width: 980px) {
    .mobile-page-nav-list {
        display: block;
        left: -300px;
        transition: 0.5s;

        .nav-list.dropdown {
            left: 0;
            top: 58px;
            width: 300px;
            background: #444;
            color: #fff;
        }

        .menu-triangle {
            display: none;
        }
    }

    .all {
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-show {
        .mobile-page-nav-list {
            transform: translateX(100%); //przesuwa po osi x o 300px bo jest to 100% elementu
        }

        .all {
            transform: translateX(300px);
        }

    }
}